<p>{{{localizedMessages.message_intro_p1}}}</p>

<p>{{{localizedMessages.message_intro_p2}}}</p>

<p class="sjrk-learningReflections-small-text">
    {{{localizedMessages.message_intro_list_description}}}
    <ul class="sjrk-learningReflections-small-text sjrk-learningReflections-list-hearts">
        <li>{{{localizedMessages.message_intro_list_item_1}}}</li>
        <li>{{{localizedMessages.message_intro_list_item_2}}}</li>
        <li>{{{localizedMessages.message_intro_list_item_3}}}</li>
        <li>{{{localizedMessages.message_intro_list_item_4}}}</li>
        <li>{{{localizedMessages.message_intro_list_item_5}}}</li>
        <li>{{{localizedMessages.message_intro_list_item_6}}}</li>
    </ul>
</p>
