{{#each dynamicValues.stories}}
    <div class="sjrk-storyTelling-browser-story-container">
        {{!--
            TODO: think about how best to program the byline
                especially wrt its position relative to title
         --}}
        <a class="sjrk-storyTelling-browser-story-link" href="storyView.html?id={{@key}}">
            <img class="sjrk-storyTelling-browser-story-thumbnail" src="{{thumbnail}}" alt="{{thumbnailAlt}}">
            <div class="sjrk-storyTelling-browser-story-details">
                <h2 class="sjrk-storyTelling-browser-story-title">{{title}}</h2>
                <p class="sjrk-storyTelling-browser-story-author">{{author}}</p>
                <p class="sjrk-storyTelling-browser-story-tags">{{../localizedMessages.message_storyListTagsLabelText}}: {{tags}}</p>
                {{!-- TODO: localize/internationalize block type names --}}
                <p class="sjrk-storyTelling-browser-story-contains">Contains: text, image</p>
            </div>
        </a>
    </div>
{{/each}}
