<!-- TODO: deal with the heading hierarchy -->
<form class="sjrk-storyTelling-storyEditor">

<div class="grid-12 sjrkc-storyTelling-storyEditor-headingContainer">
    <div class="col-6">
        <h2 class="sjrk-storyTelling-story-heading">{{message_storyHeading}}</h2>
    </div>
    <div class="col-6 sjrk-storyTelling-story-headingRight">
        <a class="sjrk-storyTelling-readOtherStories" href="#">{{message_storyReadOtherstories}}</a>
    </div>
</div>

<div class="sjrk-storyTelling-storyEditorPage1 sjrkc-storyTelling-storyEditorPage1">
    <div class="sjrk-storyTelling-label-container">
        <label for="{{storyTitleIdForLabel}}">{{message_storyTitleInputLabel}}</label>
    </div>
    <div>
        <input id="{{storyTitleIdForLabel}}" class="{{storyTitleClasses}}" placeholder="{{message_storyTitleInputPlaceholder}}" />
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="{{storyAuthorIdForLabel}}">{{message_storyAuthorInputLabel}}</label>
    </div>
    <div>
        <input id="{{storyAuthorIdForLabel}}" class="{{storyAuthorClasses}}" placeholder="{{message_storyAuthorInputPlaceholder}}" />
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="{{storyContentIdForLabel}}">{{message_storyContentInputLabel}}</label>
    </div>
    <div>
        <textarea id="{{storyContentIdForLabel}}" class="{{storyContentClasses}}" cols="30" rows="10" placeholder="{{message_storyContentInputPlaceholder}}"></textarea>
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="{{storyLanguageListIdForLabel}}">{{message_storyLanguageInputLabel}}</label>
    </div>
    <div>
        <select name="" id="{{storyLanguageListIdForLabel}}" class="{{storyLanguageListClasses}}">
            <option value="" selected="selected">-- {{message_storyLanguageInputDefault}} --</option>\
            {{#each availableLanguages}}
                <option value="{{@key}}">{{this}}</option>
            {{/each}}
            <option value="other">-- {{message_storyLanguageInputOther}} --</option>
        </select>
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="{{storyLanguageIdForLabel}}">{{message_storyLanguageInputLabel}}</label>
    </div>
    <div>
        <input id="{{storyLanguageIdForLabel}}" class="{{storyLanguageClasses}}" placeholder="{{message_storyLanguageInputPlaceholder}}" />
    </div>

    <!-- TODO: add test coverage for the text fed into the storySpeaker -->
    <div class="sjrk-storyTelling-link-container"><a class="{{storyListenToClasses}}" href="javascript:void(0)">{{message_storyListenToText}}</a></div>

    <div class="sjrk-storyTelling-button-container">
        <button class="{{storyEditorNextClasses}}" type="button">{{message_storySubmitButton}}</button>
    </div>
</div>

<!-- TODO: determine if colons should be used on the fields or not. design has fields with and without -->
<div class="sjrk-storyTelling-storyEditorPage2 sjrkc-storyTelling-storyEditorPage2">
    <div class="sjrk-storyTelling-label-container">
        <label for="{{storySummaryIdForLabel}}">{{message_storySummaryInputLabel}}</label>
    </div>
    <div>
        <textarea id="{{storySummaryIdForLabel}}" class="{{storySummaryClasses}}" cols="30" rows="10" placeholder="{{message_storySummaryInputPlaceholder}}"></textarea>
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="{{storyTagsIdForLabel}}">{{message_storyAddTagsText}}</label>
    </div>
    <div>
        <input id="{{storyTagsIdForLabel}}" class="{{storyTagsClasses}}" type="text" placeholder="{{message_storyAddTagsPlaceholder}}">
    </div>

    <div class="sjrk-storyTelling-label-container">
        <fieldset id="{{storyCategoryListIdForLabel}}">
            <legend>{{message_storyCategoryInputLabel}}</legend>
            <ul>
            {{#each availableCategories}}
                <li>
                    <input name="categories" type="checkbox" id="{{../storyCategoryListIdForLabel}}_{{@key}}" value="{{@key}}" class="{{../storyCategoryClasses}}" />
                    <label for="{{../storyCategoryListIdForLabel}}_{{@key}}">{{this}}</label>
                </li>
            {{/each}}
            </ul>
        </fieldset>
    </div>

    <div class="sjrk-storyTelling-label-container">
        <fieldset>
            <legend>{{message_storyAddImagesText}}</legend>
            <button class="{{storyChoosePhotosClasses}}" type="button">{{message_storyChoosePhotosText}}</button>
            <button class="{{storyTakePhotoClasses}}" type="button">{{message_storyTakePhotoText}}</button>
        </fieldset>
    </div>

    <div class="grid-12">
        <div class="col-6">
            <a href="javascript:void(0)" class="{{storyEditorPreviousClasses}}">{{message_storyGoBack}}</a>
        </div>
        <div class="col-6 sjrk-storyTelling-link-container-right">
            <button class="{{storySubmitClasses}}" type="button">{{message_storySubmitButton}}</button>
        </div>
    </div>
</div>

</form>
