<div lang="{{localizedMessages.language}}" class="sjrk-st-block">
    <!-- repeated markup start -->
    {{#getIds "storySelectionCheckbox"}}
        <div class="sjrk-st-label-container fl-hidden-accessible">
            <label for="$id">{{../localizedMessages.message_blockSelectionCheckboxLabel}}</label>
        </div>
        <div class="sjrk-st-block-selection-checkbox-container">
            <input id="$id" class="sjrk-st-block-selection-checkbox sjrkc-st-block-selection-checkbox" type="checkbox">
        </div>
    {{/getIds}}

    {{#getIds "storyBlockHeading"}}
        <div class="sjrk-st-block-alternative-content">
            <div class="sjrk-st-label-container fl-hidden-accessible">
                <label for="$id">{{../localizedMessages.message_blockHeadingLabel}}</label>
            </div>
            <div>
                <input id="$id" class="sjrk-st-block-heading sjrkc-st-block-heading" placeholder="{{../localizedMessages.message_blockHeadingPlaceholder}}"></input>
            </div>
        </div>
    {{/getIds}}
    <!-- repeated markup end -->

    <div class="sjrk-st-block-media-preview-container">
        <audio class="sjrk-st-block-media-preview sjrkc-st-block-media-preview" controls></audio>
    </div>
    <form>
        <div class="sjrk-st-block-media-buttons-container">
            <button type="button" class="sjrkc-st-block-media-upload-button sjrk-st-block-media-upload-button">{{localizedMessages.message_uploadButton}}</button>
        </div>

        <div class="sjrk-st-block-media-description-container">
            {{#getIds "storyBlockDescription"}}
                <div class="sjrk-st-label-container fl-hidden-accessible">
                    <label for="$id">{{../localizedMessages.message_descriptionInputLabel}}</label>
                </div>
                <textarea id="$id" class="sjrkc-st-block-media-description sjrk-st-block-media-description" placeholder="{{../localizedMessages.message_descriptionInputPlaceholder}}"></textarea>
            {{/getIds}}
        </div>
        <div class="sjrk-st-block-media-alt-text-container">
            {{#getIds "storyBlockAltText"}}
                <div class="sjrk-st-label-container fl-hidden-accessible">
                    <label for="$id">{{../localizedMessages.message_altTextInputLabel}}</label>
                </div>
                <textarea id="$id" class="sjrkc-st-block-media-alt-text sjrk-st-block-media-alt-text" placeholder="{{../localizedMessages.message_altTextInputPlaceholder}}"></textarea>
            {{/getIds}}
        </div>
        <div class="sjrk-st-block-media-transcript-container">
            {{#getIds "storyBlockTranscript"}}
                <div class="sjrk-st-label-container fl-hidden-accessible">
                    <label for="$id">{{../localizedMessages.message_transcriptInputLabel}}</label>
                </div>
                <textarea id="$id" class="sjrkc-st-block-media-transcript sjrk-st-block-media-transcript" placeholder="{{../localizedMessages.message_transcriptInputPlaceholder}}"></textarea>
            {{/getIds}}
        </div>

        <!-- Container for the uploader -->
        <div class="sjrkc-st-block-uploader-container sjrk-st-block-uploader-container">
            <input name="file" type="file" accept="audio/*" class="sjrkc-st-block-uploader-input sjrk-st-block-uploader-input" />
        </div>

    </form>
</div>
