<!-- TODO: consider adding header text input and level selection for each block -->
<div class="sjrk-storyTelling-label-container">
    <label for="{{uiStrings.textBlockIdForLabel}}">{{localizedMessages.message_textInputLabel}}</label>
</div>
<div>
    <textarea id="{{uiStrings.textBlockIdForLabel}}" class="{{uiStrings.textBlockClasses}}" cols="30" rows="10" placeholder="{{localizedMessages.message_textInputPlaceholder}}"></textarea>
</div>
