<div class="sjrk-st-block" lang="{{dynamicValues.language}}">
    <h3 class="sjrk-st-block-heading-view">{{dynamicValues.heading}}</h3>
    <video class="sjrk-st-block-video-preview sjrkc-st-block-media-preview" controls>
        <source src="{{dynamicValues.mediaUrl}}">
        {{dynamicValues.alternativeText}}
    </video>
    <p class="sjrk-st-block-text-view">{{dynamicValues.description}}</p>
    <p class="sjrk-st-block-text-view">{{dynamicValues.transcript}}</p>
</div>
