<div lang="{{localizedMessages.language}}" class="sjrk-st-block">
    <!-- repeated markup start -->
    {{#getIds "storySelectionCheckbox"}}
        <div class="sjrk-st-label-container fl-hidden-accessible">
            <label for="$id">{{../localizedMessages.message_blockSelectionCheckboxLabel}}</label>
        </div>
        <div class="sjrk-st-block-selection-checkbox-container">
            <input id="$id" class="sjrk-st-block-selection-checkbox sjrkc-st-block-selection-checkbox" type="checkbox">
        </div>
    {{/getIds}}

    {{#getIds "storyBlockHeading"}}
        <div class="sjrk-st-block-alternative-content">
            <div class="sjrk-st-label-container fl-hidden-accessible">
                <label for="$id">{{../localizedMessages.message_blockHeadingLabel}}</label>
            </div>
            <div>
                <input id="$id" class="sjrk-st-block-heading sjrkc-st-block-heading" placeholder="{{../localizedMessages.message_blockHeadingPlaceholder}}"></input>
            </div>
        </div>
    {{/getIds}}
    <!-- repeated markup end -->

    <div class="sjrk-st-block-media-preview-container">
        {{#equals dynamicValues.blockType "audio"}}
            <audio class="sjrkc-st-block-media-preview sjrk-st-block-media-preview" controls></audio>
        {{/equals}}
        {{#equals dynamicValues.blockType "image"}}
            <img class="sjrkc-st-block-media-preview sjrk-st-block-media-preview" src="" alt="" />
        {{/equals}}
        {{#equals dynamicValues.blockType "video"}}
            <video class="sjrkc-st-block-media-preview sjrk-st-block-media-preview" controls></video>
        {{/equals}}
    </div>
    <form>
        <div class="sjrk-st-block-media-buttons-container">
            <button type="button" class="sjrkc-st-block-media-upload-button sjrk-st-block-media-upload-button">{{localizedMessages.message_uploadButton}}</button>
            {{#if dynamicValues.hasMobileCamera}}
                <button type="button" class="sjrkc-st-block-media-capture-button sjrk-st-block-media-capture-button">{{localizedMessages.message_captureButton}}</button>
            {{/if}}
        </div>

        <div class="sjrk-st-block-media-description-container">
            {{#getIds "storyBlockDescription"}}
                <div class="sjrk-st-label-container fl-hidden-accessible">
                    <label for="$id">{{../localizedMessages.message_descriptionInputLabel}}</label>
                </div>
                <textarea id="$id" class="sjrkc-st-block-media-description sjrk-st-block-media-description" placeholder="{{../localizedMessages.message_descriptionInputPlaceholder}}"></textarea>
            {{/getIds}}
        </div>
        <div class="sjrk-st-block-media-alt-text-container">
            {{#getIds "storyBlockAltText"}}
                <div class="sjrk-st-label-container fl-hidden-accessible">
                    <label for="$id">{{../localizedMessages.message_altTextInputLabel}}</label>
                </div>
                <textarea id="$id" class="sjrkc-st-block-media-alt-text sjrk-st-block-media-alt-text" placeholder="{{../localizedMessages.message_altTextInputPlaceholder}}"></textarea>
            {{/getIds}}
        </div>
        {{#if dynamicValues.hasTranscript}}
            <div class="sjrk-st-block-media-transcript-container">
                {{#getIds "storyBlockTranscript"}}
                    <div class="sjrk-st-label-container fl-hidden-accessible">
                        <label for="$id">{{../localizedMessages.message_transcriptInputLabel}}</label>
                    </div>
                    <textarea id="$id" class="sjrkc-st-block-media-transcript sjrk-st-block-media-transcript" placeholder="{{../localizedMessages.message_transcriptInputPlaceholder}}"></textarea>
                {{/getIds}}
            </div>
        {{/if}}

        <!-- Container for the uploader -->
        <div class="sjrkc-st-block-uploader-container sjrk-st-block-uploader-container">
            <input name="file" type="file" accept="{{dynamicValues.blockType}}/*" class="sjrkc-st-block-uploader-input sjrk-st-block-uploader-input" />
        </div>
        {{#if dynamicValues.hasMobileCamera}}
            <!-- Container for the camera capture -->
            <div class="sjrkc-st-block-camera-capture-container sjrk-st-block-camera-capture-container">
                <input name="file" type="file" accept="{{dynamicValues.blockType}}/*" capture="camera" class="sjrkc-st-block-camera-capture-input sjrk-st-block-camera-capture-input" />
            </div>
        {{/if}}

    </form>
</div>
