<!-- TODO: deal with the heading hierarchy -->
<form class="sjrk-storyTelling-storyEditor">

<div class="grid-12 sjrkc-storyTelling-storyEditor-headingContainer">
    <div class="col-6">
        <h2 class="sjrk-storyTelling-story-heading">{{localizedMessages.message_storyHeading}}</h2>
    </div>
    <div class="col-6 sjrk-storyTelling-story-headingRight">
        <a class="sjrk-storyTelling-readOtherStories" href="#">{{localizedMessages.message_storyReadOtherstories}}</a>
    </div>
</div>

<div class="sjrk-storyTelling-storyEditorPage1 sjrkc-storyTelling-storyEditorPage1">
    <div class="sjrk-storyTelling-label-container">
        <label for="{{uiStrings.storyTitleIdForLabel}}">{{localizedMessages.message_storyTitleInputLabel}}</label>
    </div>
    <div>
        <input id="{{uiStrings.storyTitleIdForLabel}}" class="{{uiStrings.storyTitleClasses}}" placeholder="{{localizedMessages.message_storyTitleInputPlaceholder}}" />
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="{{uiStrings.storyAuthorIdForLabel}}">{{localizedMessages.message_storyAuthorInputLabel}}</label>
    </div>
    <div>
        <input id="{{uiStrings.storyAuthorIdForLabel}}" class="{{uiStrings.storyAuthorClasses}}" placeholder="{{localizedMessages.message_storyAuthorInputPlaceholder}}" />
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="{{uiStrings.storyContentIdForLabel}}">{{localizedMessages.message_storyContentInputLabel}}</label>
    </div>
    <div>
        <textarea id="{{uiStrings.storyContentIdForLabel}}" class="{{uiStrings.storyContentClasses}}" cols="30" rows="10" placeholder="{{message_storyContentInputPlaceholder}}"></textarea>
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="{{uiStrings.storyLanguageListIdForLabel}}">{{localizedMessages.message_storyLanguageInputLabel}}</label>
    </div>
    <div>
        <select name="" id="{{uiStrings.storyLanguageListIdForLabel}}" class="{{uiStrings.storyLanguageListClasses}}">
            <option value="" selected="selected">-- {{localizedMessages.message_storyLanguageInputDefault}} --</option>\
            {{#each localizedMessages.availableLanguages}}
                <option value="{{@key}}">{{this}}</option>
            {{/each}}
            <option value="other">-- {{localizedMessages.message_storyLanguageInputOther}} --</option>
        </select>
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="{{uiStrings.storyLanguageIdForLabel}}">{{localizedMessages.message_storyLanguageInputLabel}}</label>
    </div>
    <div>
        <input id="{{uiStrings.storyLanguageIdForLabel}}" class="{{uiStrings.storyLanguageClasses}}" placeholder="{{localizedMessages.message_storyLanguageInputPlaceholder}}" />
    </div>

    <!-- TODO: add test coverage for the text fed into the storySpeaker -->
    <div class="sjrk-storyTelling-link-container"><a class="{{uiStrings.storyListenToClasses}}" href="javascript:void(0)">{{localizedMessages.message_storyListenToText}}</a></div>

    <div class="sjrk-storyTelling-button-container">
        <button class="{{uiStrings.storyEditorNextClasses}}" type="button">{{localizedMessages.message_storySubmitButton}}</button>
    </div>
</div>

<!-- TODO: determine if colons should be used on the fields or not. design has fields with and without -->
<div class="sjrk-storyTelling-storyEditorPage2 sjrkc-storyTelling-storyEditorPage2">
    <div class="sjrk-storyTelling-label-container">
        <label for="{{uiStrings.storySummaryIdForLabel}}">{{localizedMessages.message_storySummaryInputLabel}}</label>
    </div>
    <div>
        <textarea id="{{uiStrings.storySummaryIdForLabel}}" class="{{uiStrings.storySummaryClasses}}" cols="30" rows="10" placeholder="{{localizedMessages.message_storySummaryInputPlaceholder}}"></textarea>
    </div>

    <div class="sjrk-storyTelling-label-container">
        <label for="{{uiStrings.storyTagsIdForLabel}}">{{localizedMessages.message_storyAddTagsText}}</label>
    </div>
    <div>
        <input id="{{uiStrings.storyTagsIdForLabel}}" class="{{uiStrings.storyTagsClasses}}" type="text" placeholder="{{localizedMessages.message_storyAddTagsPlaceholder}}">
    </div>

    <div class="sjrk-storyTelling-label-container">
        <fieldset id="{{uiStrings.storyCategoryListIdForLabel}}">
            <legend>{{localizedMessages.message_storyCategoryInputLabel}}</legend>
            <ul>
            {{#each localizedMessages.availableCategories}}
                <li>
                    <input name="categories" type="checkbox" id="{{../storyCategoryListIdForLabel}}_{{@key}}" value="{{@key}}" class="{{../storyCategoryClasses}}" />
                    <label for="{{../storyCategoryListIdForLabel}}_{{@key}}">{{this}}</label>
                </li>
            {{/each}}
            </ul>
        </fieldset>
    </div>

    <div class="sjrk-storyTelling-label-container">
        <fieldset>
            <legend>{{localizedMessages.message_storyAddImagesText}}</legend>
            <button class="{{uiStrings.storyChoosePhotosClasses}}" type="button">{{localizedMessages.message_storyChoosePhotosText}}</button>
            <button class="{{uiStrings.storyTakePhotoClasses}}" type="button">{{localizedMessages.message_storyTakePhotoText}}</button>
        </fieldset>
    </div>

    <div class="grid-12">
        <div class="col-6">
            <a href="javascript:void(0)" class="{{uiStrings.storyEditorPreviousClasses}}">{{localizedMessages.message_storyGoBack}}</a>
        </div>
        <div class="col-6 sjrk-storyTelling-link-container-right">
            <button class="{{uiStrings.storySubmitClasses}}" type="button">{{localizedMessages.message_storySubmitButton}}</button>
        </div>
    </div>
</div>

</form>
