<div class="sjrk-st-block" lang="{{dynamicValues.language}}">
    <h3 class="sjrk-st-block-heading-view">{{dynamicValues.heading}}</h3>
    <img class="sjrk-st-block-image-preview" src="{{dynamicValues.imageUrl}}" alt="{{dynamicValues.alternativeText}}"/>
    <p class="sjrk-st-block-text-view">{{dynamicValues.description}}</p>
</div>
