<div class="sjrk-storyTelling-label-container">
    <label for="{{uiStrings.blockIdForLabel}}">{{localizedMessages.message_textInputLabel}}</label>
</div>
<div>
    <textarea id="{{uiStrings.blockIdForLabel}}" class="{{uiStrings.blockClasses}}" cols="30" rows="10" placeholder="{{localizedMessages.message_textInputPlaceholder}}"></textarea>
</div>
