<form lang="{{localizedMessages.language}}" class="sjrk-st-story-editor-form sjrkc-st-story-editor-form">
    <div class="sjrk-st-story-editor-page1 sjrkc-st-story-editor-page1">
        <div class="sjrk-st-story-editor-buttons-container">
            <div class="sjrk-st-button-text-block-container sjrk-st-image-button-container">
                <button class="sjrk-st-button sjrk-st-button-text-block sjrkc-st-button-text-block" type="button"><span class="sjrk-st-button-text">{{localizedMessages.message_blockAddTextBlock}}</span></button>
            </div>
            <div class="sjrk-st-button-image-block-container sjrk-st-image-button-container">
                <button class="sjrk-st-button sjrk-st-button-image-block sjrkc-st-button-image-block" type="button"><span class="sjrk-st-button-text">{{localizedMessages.message_blockAddImageBlock}}</span></button>
            </div>
            <div class="sjrk-st-button-audio-block-container sjrk-st-image-button-container">
                <button class="sjrk-st-button sjrk-st-button-audio-block sjrkc-st-button-audio-block" type="button"><span class="sjrk-st-button-text">{{localizedMessages.message_blockAddAudioBlock}}</span></button>
            </div>
            <div class="sjrk-st-button-video-block-container sjrk-st-image-button-container">
                <button class="sjrk-st-button sjrk-st-button-video-block sjrkc-st-button-video-block" type="button"><span class="sjrk-st-button-text">{{localizedMessages.message_blockAddVideoBlock}}</span></button>
            </div>
            <div class="sjrk-st-button-remove-blocks-container sjrk-st-image-button-container">
                <button class="sjrk-st-button sjrk-st-button-remove-blocks sjrkc-st-button-remove-blocks" type="button"><span class="sjrk-st-button-text">{{localizedMessages.message_blockRemoveBlocks}}</span></button>
            </div>
            <div class="sjrk-st-button-restore-blocks-container sjrk-st-image-button-container">
                <button class="sjrk-st-button sjrk-st-button-restore-blocks sjrkc-st-button-restore-blocks" type="button"><span class="sjrk-st-button-text">{{localizedMessages.message_blockRestoreBlocks}}</span></button>
            </div>
        </div>
        <!-- area where blocks will be added -->
        <div class="sjrk-st-story-editor-content sjrkc-st-story-editor-content"></div>
        <div class="sjrk-st-button-container">
            <a href="javascript:void(0)" class="sjrk-st-story-editor-next sjrkc-st-story-editor-next">
                <span>{{localizedMessages.message_continue}}</span>
                <img src="{{dynamicValues.resourcePrefix}}/src/img/icons/Forward.svg" alt="right arrow icon">
            </a>
        </div>
    </div>

    <div class="sjrk-st-story-editor-page2 sjrkc-st-story-editor-page2">
        {{#getIds "title"}}
            <div class="sjrk-st-label-container">
                <label for="$id">{{../localizedMessages.message_titleInputLabel}}</label>
            </div>
            <div>
                <input id="$id" class="sjrk-st-story-title sjrkc-st-story-title" placeholder="{{../localizedMessages.message_titleInputPlaceholder}}" />
            </div>
        {{/getIds}}

        {{#getIds "author"}}
            <div class="sjrk-st-label-container">
                <label for="$id">{{../localizedMessages.message_authorInputLabel}}</label>
            </div>
            <div>
                <input id="$id" class="sjrk-st-story-author sjrkc-st-story-author" placeholder="{{../localizedMessages.message_authorInputPlaceholder}}" />
            </div>
        {{/getIds}}

        {{#getIds "keywords"}}
            <div class="sjrk-st-label-container">
                <label for="$id">{{../localizedMessages.message_addTagsText}}</label>
            </div>
            <div>
                <input id="$id" class="sjrk-st-story-tags sjrkc-st-story-tags" type="text" placeholder="{{../localizedMessages.message_addTagsPlaceholder}}">
            </div>
        {{/getIds}}

        <div class="sjrk-st-story-editor-footer-container">
            <div>
                <a href="javascript:void(0)" class="sjrk-st-story-editor-previous sjrkc-st-story-editor-previous">
                    <img src="{{dynamicValues.resourcePrefix}}/src/img/icons/Back.svg" alt="left arrow icon">
                    <span>{{localizedMessages.message_goBack}}</span>
                </a>
            </div>
            <div class="sjrk-st-link-container-right">
                <button class="sjrk-st-story-submit sjrkc-st-story-submit" type="button">{{localizedMessages.message_submitButton}}</button>
            </div>
        </div>
    </div>
</form>
