<div class="sjrk-storyTelling-browser-view-control-container">
    {{localizedMessages.message_browseViewText}}: <a class="sjrk-storyTelling-browser-view-control-list sjrkc-storyTelling-browser-view-control-list" href="javascript:void(0);">{{localizedMessages.message_browseListText}}</a>
    |
    <a class="sjrk-storyTelling-browser-view-control-grid sjrkc-storyTelling-browser-view-control-grid" href="javascript:void(0);">{{localizedMessages.message_browseGridText}}</a>
</div>
<div class="sjrk-storyTelling-browser-stories sjrkc-storyTelling-browser-stories">
    {{#each dynamicValues.stories}}
        <div class="sjrk-storyTelling-browser-story-container">
            <a class="sjrk-storyTelling-browser-story-link" href="storyView.html?id={{@key}}">
                <div class="sjrk-storyTelling-browser-story-thumbnail-container">
                    {{#if thumbnailUrl}}
                        <img class="sjrk-storyTelling-browser-story-thumbnail" src="{{thumbnailUrl}}" alt="{{thumbnailAltText}}">
                    {{else}}
                        <img class="sjrk-storyTelling-browser-story-thumbnail sjrk-storyTelling-browser-story-thumnail-placeholder" src="{{../dynamicValues.placeholderThumbnailUrl}}" alt="{{../localizedMessages.message_browseListText}}">
                    {{/if}}
                </div>
                <div class="sjrk-storyTelling-browser-story-details">
                    <h2 class="sjrk-storyTelling-browser-story-title">{{title}}</h2>
                    <p class="sjrk-storyTelling-browser-story-author">
                        {{#if author}}
                            {{#replace ../localizedMessages.message_authorText "%author" author}}{{/replace}}
                        {{/if}}
                    </p>
                    {{#if tags}}
                        <p class="sjrk-storyTelling-browser-story-tags">{{../localizedMessages.message_listTagsLabelText}}:
                            {{#each tags}}
                                {{this}}{{#unless @last}}, {{/unless}}
                            {{/each}}
                        </p>
                    {{/if}}
                    {{#if contentTypes}}
                        <p class="sjrk-storyTelling-browser-story-contains">{{../localizedMessages.message_browseContainsText}}:
                            {{#each contentTypes}}
                                {{lookup ../../localizedMessages.contentTypes this}}{{#unless @last}}, {{/unless}}
                            {{/each}}
                        </p>
                    {{/if}}
                </div>
            </a>
        </div>
    {{/each}}
</div>
