<div class="sjrk-storyTelling-block-viewer-heading-container">
    <div>
        <h2 class="sjrkc-storyTelling-story-heading sjrk-storyTelling-story-heading">{{localizedMessages.message_storyPreviewText}}</h2>
    </div>
    <div>
        <a class="sjrkc-storyTelling-read-other-stories sjrk-storyTelling-read-other-stories " href="#">{{localizedMessages.message_storyTranslateText}}</a>
    </div>
</div>
<div class="sjrk-storyTelling-story-viewer-main-container">
    <div class="sjrkc-storyTelling-storyTitle sjrk-storyTelling-storyTitle">{{dynamicValues.title}}</div>
    <div class="sjrkc-storyTelling-storyAuthor sjrk-storyTelling-storyAuthor">{{localizedMessages.message_storyAuthorText}}</div>

    <div class="sjrk-storyTelling-link-container">
        <a class="sjrkc-storyTelling-storyListenTo sjrk-storyTelling-storyListenTo" href="javascript:void(0);">{{localizedMessages.message_storyListenToText}}</a>
    </div>

    <div class="sjrkc-storyTelling-storyContent sjrk-storyTelling-storyContent"></div>

    <div class="sjrk-storyTelling-link-container">
        <a class="sjrkc-storyTelling-storyReadMore sjrk-storyTelling-storyReadMore" href="#">{{localizedMessages.message_storyReadMoreText}}</a>
    </div>

    <div class="sjrk-storyTelling-language-container">
        {{localizedMessages.message_storyLanguageLabelText}}: <span class="sjrkc-storyTelling-storyLanguage sjrk-storyTelling-storyLanguage">
            {{lookup ../localizedMessages.availableLanguages dynamicValues.language}}
        </span>
    </div>

    <div class="sjrk-storyTelling-tags-container">
        {{localizedMessages.message_storyListTagsLabelText}}: <span class="sjrkc-storyTelling-storyListTags sjrk-storyTelling-storyListTags">
            {{#each dynamicValues.tags}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
        </span>
    </div>

    <div class="sjrk-storyTelling-categories-container">
        {{localizedMessages.message_storyListCategoriesLabelText}}: <span class="sjrkc-storyTelling-storyCategories sjrk-storyTelling-storyCategories">
            {{#each dynamicValues.storyCategories}}
                {{lookup ../localizedMessages.availableCategories this}}{{#unless @last}}, {{/unless}}
            {{/each}}
        </span>
    </div>
</div>
<div class="sjrk-storyTelling-story-viewer-footer-container">
    <div>
        <a href="#" class="sjrkc-storyTelling-storyShare sjrk-storyTelling-storyShare">{{localizedMessages.message_storyShareText}}</a>
    </div>
    <div>
        <a href="#" class="sjrkc-storyTelling-storySaveNoShare sjrk-storyTelling-storySaveNoShare">{{localizedMessages.message_storySaveNoShareText}}</a>
    </div>
    <div>
        <a href="javascript:void(0)" class="sjrkc-storyTelling-storyPreviewerPrevious sjrk-storyTelling-storyPreviewerPrevious">{{localizedMessages.message_storyGoBack}}</a>
    </div>
</div>
