<div lang="{{localizedMessages.language}}" class="sjrk-st-block">
    {{#getIds "storySelectionCheckbox"}}
        <div class="sjrk-st-label-container fl-hidden-accessible">
            <label for="$id">{{../localizedMessages.message_blockSelectionCheckboxLabel}}</label>
        </div>
        <div class="sjrk-st-block-selection-checkbox-container">
            <input id="$id" class="sjrk-st-block-selection-checkbox sjrkc-st-block-selection-checkbox" type="checkbox">
        </div>
    {{/getIds}}

    {{#getIds "storyBlockText"}}
        <div class="sjrk-st-label-container fl-hidden-accessible">
            <label for="$id">{{../localizedMessages.message_textInputLabel}}</label>
        </div>
        <div>
            <textarea id="$id" class="sjrk-st-block-text sjrkc-st-block-text" cols="30" rows="5" placeholder="{{../localizedMessages.message_textInputPlaceholder}}"></textarea>
        </div>
    {{/getIds}}

    {{#getIds "storyBlockHeading"}}
        <div class="sjrk-st-block-alternative-content">
            <div class="sjrk-st-label-container fl-hidden-accessible">
                <label for="$id">{{../localizedMessages.message_blockHeadingLabel}}</label>
            </div>
            <div>
                <input id="$id" class="sjrk-st-block-heading sjrkc-st-block-heading" placeholder="{{../localizedMessages.message_blockHeadingPlaceholder}}"></input>
            </div>
        </div>
    {{/getIds}}

    <div class="sjrk-st-block-alternative-content">
        {{#getIds "storyBlockSimplifiedText"}}
        <div class="sjrk-st-label-container fl-hidden-accessible">
            <label for="$id">{{../localizedMessages.message_simplifiedTextInputLabel}}</label>
        </div>
        <div class="sjrk-st-alternative-content-container">
            <input id="$id" class="sjrk-st-block-simplified-text sjrkc-st-block-simplified-text" placeholder="{{../localizedMessages.message_simplifiedTextInputPlaceholder}}"></input>
        </div>
        {{/getIds}}
    </div>
</div>
