<div lang="{{localizedMessages.language}}" class="sjrk-storyblock-block">
    <!-- repeated markup start -->
    {{#getIds "storySelectionCheckbox"}}
        <div class="sjrk-st-label-container fl-hidden-accessible">
            <label for="$id">{{../localizedMessages.message_blockSelectionCheckboxLabel}}</label>
        </div>
        <div class="sjrk-storyblock-selection-checkbox-container">
            <input id="$id" class="sjrk-storyblock-selection-checkbox sjrkc-storyblock-selection-checkbox" type="checkbox">
        </div>
    {{/getIds}}

    {{#getIds "storyBlockHeading"}}
        <div class="sjrk-st-block-alternative-content">
            <div class="sjrk-st-label-container fl-hidden-accessible">
                <label for="$id">{{../localizedMessages.message_blockHeadingLabel}}</label>
            </div>
            <div>
                <input id="$id" class="sjrk-storyblock-heading sjrkc-storyblock-heading" placeholder="{{../localizedMessages.message_blockHeadingPlaceholder}}"></input>
            </div>
        </div>
    {{/getIds}}
    <!-- repeated markup end -->

    <div class="sjrk-storyblock-image-preview-container">
        <img class="sjrkc-storyblock-image-preview sjrk-storyblock-image-preview" src="" alt="" />
    </div>
    <form>
        <div class="sjrk-storyblock-image-buttons-container">
            <button type="button" class="sjrkc-storyblock-image-upload-button sjrk-storyblock-image-upload-button">{{localizedMessages.message_imageUploadButton}}</button>
            {{#if dynamicValues.hasMobileCamera}}
                <button type="button" class="sjrkc-storyblock-image-capture-button sjrk-storyblock-image-capture-button">{{localizedMessages.message_imageCaptureButton}}</button>
            {{/if}}
        </div>

        <div class="sjrk-storyblock-image-description-container">
            {{#getIds "storyBlockImageDescription"}}
                <div class="sjrk-st-label-container fl-hidden-accessible">
                    <label for="$id">{{../localizedMessages.message_imageDescriptionInputLabel}}</label>
                </div>
                <textarea id="$id" class="sjrkc-storyblock-image-description sjrk-storyblock-image-description" placeholder="{{../localizedMessages.message_imageDescriptionInputPlaceholder}}"></textarea>
            {{/getIds}}
        </div>
        <div class="sjrk-storyblock-image-alt-text-container">
            {{#getIds "storyBlockImageAltText"}}
                <div class="sjrk-st-label-container fl-hidden-accessible">
                    <label for="$id">{{../localizedMessages.message_imageAltTextInputLabel}}</label>
                </div>
                <textarea id="$id" class="sjrkc-storyblock-image-alt-text sjrk-storyblock-image-alt-text" placeholder="{{../localizedMessages.message_imageAltTextInputPlaceholder}}"></textarea>
            {{/getIds}}
        </div>

        <!-- Container for the uploader -->
        <div class="sjrkc-storyblock-uploader-container sjrk-storyblock-uploader-container">
            <input name="file" type="file" accept="image/*" class="sjrkc-storyblock-uploader-input sjrk-storyblock-uploader-input" />
        </div>
        {{#if dynamicValues.hasMobileCamera}}
            <!-- Container for the camera capture -->
            <div class="sjrkc-storyblock-camera-capture-container sjrk-storyblock-camera-capture-container">
                <input name="file" type="file" accept="image/*" capture="camera" class="sjrkc-storyblock-camera-capture-input sjrk-storyblock-camera-capture-input" />
            </div>
        {{/if}}

    </form>
</div>
