<div class="sjrk-storyblock-block" lang="{{dynamicValues.language}}">
    <h2>{{dynamicValues.heading}}</h2>
    <img src="{{dynamicValues.imageUrl}}" alt="{{dynamicValues.alternativeText}}"/>
    <p>{{dynamicValues.description}}</p>
</div>
