<div hidden lang="{{localizedMessages.language}}" class="sjrk-st-story-viewer-heading-container">
    <div hidden>
        <h2 class="sjrkc-st-story-heading sjrk-st-story-heading">{{localizedMessages.message_previewText}}</h2>
    </div>
    <div hidden>
        <a class="sjrkc-st-read-other-stories sjrk-st-read-other-stories " href="#">{{localizedMessages.message_translateText}}</a>
    </div>
</div>
<div lang="{{localizedMessages.language}}" class="sjrk-st-story-viewer-main-container">
    <div class="sjrk-st-link-container">
        <button class="sjrk-st-button sjrk-st-story-listen-to sjrkc-st-story-listen-to" type="button"><span class="sjrk-st-button-text">{{localizedMessages.message_listenToText}}</span></button>
    </div>

    {{#if dynamicValues.story.title}}
        <h2 class="sjrkc-st-story-title sjrk-st-story-title">{{dynamicValues.story.title}}</h2>
    {{/if}}
    {{#if dynamicValues.story.author}}
        <p class="sjrkc-st-story-author sjrk-st-story-author">{{localizedMessages.message_authorText}}</p>
    {{/if}}

    <div hidden class="sjrk-st-link-container">
        <a class="sjrkc-st-story-read-more sjrk-st-story-read-more" href="#">{{localizedMessages.message_readMoreText}}</a>
    </div>

    <div hidden class="sjrk-st-language-container">
        {{localizedMessages.message_languageLabelText}}: <span class="sjrkc-st-story-language sjrk-st-story-language">
            {{lookup ../localizedMessages.availableLanguages dynamicValues.story.language}}
        </span>
    </div>

    {{#if dynamicValues.story.tags}}
        <div class="sjrk-st-tags-container">
            {{localizedMessages.message_listTagsLabelText}}: <span class="sjrkc-st-story-list-tags sjrk-st-story-list-tags">
                {{#each dynamicValues.story.tags}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
            </span>
        </div>
    {{/if}}

    <div class="sjrkc-st-story-content sjrk-st-story-content"></div>
</div>
{{#if dynamicValues.isEditorPreview}}
    <div lang="{{localizedMessages.language}}" class="sjrk-st-important-notes">
        <h2>{{localizedMessages.message_important_notes_title}}</h2>
        {{{md localizedMessages.message_important_notes_body}}}
    </div>
    <div lang="{{localizedMessages.language}}" class="sjrk-st-story-viewer-footer-container">
        <div>
            <a href="javascript:void(0)" class="sjrkc-st-story-viewer-previous sjrk-st-story-viewer-previous">
                <img src="/src/img/icons/Back.svg" alt="" role="none">
                <span>{{localizedMessages.message_goBack}}</span>
            </a>
        </div>
        {{#if dynamicValues.savingEnabled}}
            <div>
        {{else}}
            <div hidden>
        {{/if}}
            <button type="button" class="sjrkc-st-story-share sjrk-st-story-share">{{localizedMessages.message_shareText}}</button>
        </div>
        <div hidden>
            <a href="#" class="sjrkc-st-story-save-no-share sjrk-st-story-save-no-share">{{localizedMessages.message_saveNoShareText}}</a>
        </div>
        <div class="sjrkc-st-story-share-progress sjrk-st-story-share-progress" role="alert">
            <div class="sjrk-st-story-share-progress-indicator" aria-describedby="sjrkc-st-story-share-progress-text"></div>
            <span id="sjrkc-st-story-share-progress-text">{{localizedMessages.message_shareProgressText}}</span>
        </div>
        <div class="sjrkc-st-story-share-response sjrk-st-story-share-response" role="alert">
            {{localizedMessages.message_shareResponseText}}: <span class="sjrkc-st-story-share-response-text"></span>
        </div>
    </div>
{{/if}}
