
<div class="sjrk-st-karisma-welcome-container">
    <div class="sjrk-st-karisma-welcome-mascot-container">
        <img src="/src/karisma/img/person-waving.png" alt="a nice person waving and a little bird at their feet">
    </div>
    <div class="sjrk-st-karisma-welcome-message-container">
        <h1 class="sjrk-st-karisma-welcome-message">{{localizedMessages.message_welcome}}</h1>
        <div class="sjrk-st-karisma-welcome-button-container">
            <a href="{{dynamicValues.welcomer_editLinkUrl}}">{{localizedMessages.message_tellAStory}}</a>
            <a href="{{dynamicValues.welcomer_browseLinkUrl}}">{{localizedMessages.message_browseStories}}</a>
        </div>
    </div>
</div>
