<div class="sjrk-st-context-link-container">
    <a href="{{dynamicValues.contextLinkUrl}}" class="sjrk-st-context-link">{{localizedMessages.message_contextLink_build}}</a>
</div>
<div lang="{{localizedMessages.language}}" class="sjrk-st-menu-languages-container">
    <a href="javascript:void(0)" class="sjrk-st-menu-languages-en sjrkc-st-menu-languages-en">{{localizedMessages.message_menu_english}}</a> |
    <a href="javascript:void(0)" class="sjrk-st-menu-languages-es sjrkc-st-menu-languages-es" lang="es">{{localizedMessages.message_menu_spanish}}</a>
</div>
