<div class="sjrk-st-page-footer-text-container">
    {{{md localizedMessages.footer_text1}}}
    {{{md localizedMessages.footer_text2}}}
</div>
<div class="sjrk-st-page-footer-logo-container">
    <a class="sjrk-st-page-footer-oak-logo" href="http://www.oakfnd.org/" aria-label="{{localizedMessages.footer_logo_oak_alt_text}}"></a>
    <a class="sjrk-st-page-footer-hewlett-logo" href="https://www.hewlett.org/" aria-label="{{localizedMessages.footer_logo_hewlett_alt_text}}"></a>
    <a class="sjrk-st-page-footer-idrc-logo" href="https://idrc.ocadu.ca/" aria-label="{{localizedMessages.footer_logo_idrc_alt_text}}"></a>
</div>
