<div>
    <p>{{{localizedMessages.message_intro_p1}}}</p>

    <p>{{{localizedMessages.message_intro_p2}}}</p>

    <p>{{{localizedMessages.message_intro_p3}}}</p>

    <p>{{{localizedMessages.message_intro_p4}}}</p>
</div>
<div class="sjrk-st-context-link-container">
    <a href="{{dynamicValues.contextLinkUrl}}" class="sjrk-st-context-link">{{localizedMessages.message_contextLink_browse}}</a>
</div>
