<div class="sjrk-st-page-body">
    <section class="sjrk-st-lr-2column sjrk-st-lr-knockout">
        <div>
            <h1>{{localizedMessages.intro_heading1}}</h1>
            <h1>{{localizedMessages.intro_heading2}}</h1>
            <span class="sjrk-st-intro-caret" src="src/learningReflections/img/icons/caret.svg"></span>
            {{{md localizedMessages.intro_p1_text}}}
        </div>
        <div>
            <img class="sjrk-st-intro-collection" src="src/learningReflections/img/stories_collection.png" alt="{{localizedMessages.intro_fig1_alt_text}}">
        </div>
    </section>
    <section class="sjrk-st-lr-2column">
        <div>
            <h2>{{localizedMessages.intro_p2_heading}}</h2>
            {{{md localizedMessages.intro_p2_text}}}
            <div class="sjrk-st-intro-links">
                <a href="workshops.html">{{localizedMessages.link_workshops_text}}</a>
                <a href="resources.html">{{localizedMessages.link_resources_text}}</a>
            </div>
        </div>
        <img src="src/learningReflections/img/storytelling_workshop_3.png" alt="{{localizedMessages.intro_fig2_alt_text}}">
    </section>
    <section class="sjrk-st-lr-2column">
        <div>
            <h2>{{localizedMessages.intro_p3_heading}}</h2>
            {{{md localizedMessages.intro_p3_text}}}
            <a class="sjrk-st-edit-link" href="{{localizedMessages.editor_url}}">{{localizedMessages.link_edit_text}}</a>
        </div>
        <img src="src/learningReflections/img/storytelling_tool_screenshot.png" alt="{{localizedMessages.intro_fig3_alt_text}}">
    </section>
    <section>
        <h2>{{localizedMessages.intro_p4_heading}}</h2>
        {{{md localizedMessages.intro_p4_text}}}
    <section>
</div>
