<div class="sjrk-st-context-link-container">
    <a href="{{dynamicValues.browseLinkUrl}}" class="sjrk-st-context-link">{{localizedMessages.message_browseLink}}</a>
</div>
<div>
    <div>{{{md localizedMessages.message_intro_p1}}}</div>
    <div>{{{md localizedMessages.message_intro_p2}}}</div>
    <div>{{{md localizedMessages.message_intro_p3}}}</div>
    <div>{{{md localizedMessages.message_intro_p4}}}</div>
</div>
