<div class="sjrk-st-page-header">
    <span class="sjrk-st-page-header-main-title">{{localizedMessages.message_mastheadTitle}}</span>
</div>
{{#if dynamicValues.savingEnabled}}
    <div class="sjrk-st-context-link-container">
        {{#if dynamicValues.browseLinkUrl}}
            <a href="{{dynamicValues.browseLinkUrl}}" class="sjrk-st-context-link">{{localizedMessages.message_browseLink}}</a>
        {{/if}}
        {{#if dynamicValues.buildLinkUrl}}
            <a hidden href="{{dynamicValues.buildLinkUrl}}" class="sjrk-st-context-link">{{localizedMessages.message_buildLink}}</a>
        {{/if}}
    </div>
{{else}}
    {{#if dynamicValues.browseLinkUrl}}
        <div class="sjrk-st-context-link-container">
            <a href="{{dynamicValues.browseLinkUrl}}" class="sjrk-st-context-link">{{localizedMessages.message_browseLink}}</a>
        </div>
    {{/if}}
{{/if}}
