<div class="sjrk-st-page-body">
    <section class="sjrk-st-lr-knockout">
        <h1>{{localizedMessages.workshops_title}}</h1>
    </section>
    <section class="sjrk-st-lr-2column sjrk-st-lr-serif">
        {{{md localizedMessages.workshops_p1_text}}}
        <img src="src/learningReflections/img/storytelling_workshop_5.png" alt="{{localizedMessages.workshops_fig1_alt_text}}">
    </section>
    <section class="sjrk-st-lr-2column">
        <div>
            <h2>{{localizedMessages.workshops_p2_heading}}</h2>
            <div class="sjrk-st-lr-serif">
                {{{md localizedMessages.workshops_p2_text}}}
            </div>
        </div>
        <img src="src/learningReflections/img/storytelling_workshop_6.png" alt="{{localizedMessages.workshops_fig2_alt_text}}">
    </section>
    <section class="sjrk-st-lr-2column">
        <div class="sjrk-st-lr-serif">
            <h3>{{localizedMessages.workshops_p3_heading}}</h3>
            {{{md localizedMessages.workshops_p3_text}}}
            <br>
            <h3>{{localizedMessages.workshops_p4_heading}}</h3>
            {{{md localizedMessages.workshops_p4_text}}}
        </div>
        <figure>
            <img src="src/learningReflections/img/storytelling_workshop_7.png" alt="{{localizedMessages.workshops_fig3_alt_text}}">
            <figcaption>{{localizedMessages.workshops_fig3_caption}}</figcaption>
        </figure>
    </section>
    <section class="sjrk-st-lr-2column">
        <div>
            <h2>{{localizedMessages.workshops_p5_heading}}</h2>
            <div class="sjrk-st-lr-serif">
                {{{md localizedMessages.workshops_p5_text}}}
            </div>
        </div>
        <div>{{!-- placeholder div to maintain two-column layout --}}</div>
    </section>
    <section class="sjrk-st-lr-2column">
        <div class="sjrk-st-lr-serif">
            <h3>{{localizedMessages.workshops_p6_heading}}</h3>
            {{{md localizedMessages.workshops_p6_text}}}
            <br>
            <h3>{{localizedMessages.workshops_p7_heading}}</h3>
            {{{md localizedMessages.workshops_p7_text}}}
        </div>
        <figure>
            <img src="src/learningReflections/img/storytelling_workshop_8.png" alt="{{localizedMessages.workshops_fig4_alt_text}}">
            <figcaption>{{localizedMessages.workshops_fig4_caption}}</figcaption>
        </figure>
    </section>
</div>
