<div class="sjrk-st-intro-body">
    <div class="sjrk-st-intro-p1-container">
        <h2>{{localizedMessages.message_intro_heading1}}</h2>
        <h2>{{localizedMessages.message_intro_heading2}}</h2>
        <img class="sjrk-st-intro-caret" src="src/img/icons/Caret.svg" alt="">
        {{{md localizedMessages.message_intro_p1_text}}}
    </div>
    <div class="sjrk-st-intro-story-thumbnails">
        {{!-- this is set aside for the story thumbnails once that's ready --}}
    </div>
    <hr>
    <h3>{{localizedMessages.message_intro_p2_heading}}</h3>
    {{{md localizedMessages.message_intro_p2_text}}}
    <hr>
    <h3>{{localizedMessages.message_intro_p3_heading}}</h3>
    {{{md localizedMessages.message_intro_p3_text}}}
    <hr>
    <h3>{{localizedMessages.message_intro_p4_heading}}</h3>
    {{{md localizedMessages.message_intro_p4_text}}}
</div>
