<div class="sjrk-st-page-body">
    <section class="sjrk-st-lr-knockout">
        <h2>{{localizedMessages.workshops_title}}</h2>
    </section>
    <section class="sjrk-st-lr-2column sjrk-st-lr-serif">
        {{{md localizedMessages.workshops_p1_text}}}
        <img src="src/learningReflections/img/storytelling_workshop_5.png" alt="{{localizedMessages.workshops_fig1_alt_text}}">
    </section>
    <section class="sjrk-st-lr-2column">
        <div>
            <h3>{{localizedMessages.workshops_p2_heading}}</h3>
            <div class="sjrk-st-lr-serif">
                {{{md localizedMessages.workshops_p2_text}}}
            </div>
        </div>
        <img src="src/learningReflections/img/storytelling_workshop_6.png" alt="{{localizedMessages.workshops_fig2_alt_text}}">
    </section>
    <section class="sjrk-st-lr-2column">
        <div>
            <h4>{{localizedMessages.workshops_p3_heading}}</h4>
            <div class="sjrk-st-lr-serif">
                {{{md localizedMessages.workshops_p3_text}}}
            </div>
            <h4>{{localizedMessages.workshops_p4_heading}}</h4>
            <div class="sjrk-st-lr-serif">
                {{{md localizedMessages.workshops_p4_text}}}
            </div>
        </div>
        <figure>
            <img src="src/learningReflections/img/storytelling_workshop_7.png" alt="{{localizedMessages.workshops_fig3_alt_text}}">
            <figcaption>{{localizedMessages.workshops_fig3_caption}}</figcaption>
        </figure>
    </section>
    <section class="sjrk-st-lr-2column">
        <div>
            <h3>{{localizedMessages.workshops_p5_heading}}</h3>
            <div class="sjrk-st-lr-serif">
                {{{md localizedMessages.workshops_p5_text}}}
            </div>
            <h4>{{localizedMessages.workshops_p6_heading}}</h4>
            <div class="sjrk-st-lr-serif">
                {{{md localizedMessages.workshops_p6_text}}}
            </div>
        </div>
        <figure>
            <img src="src/learningReflections/img/storytelling_workshop_8.png" alt="{{localizedMessages.workshops_fig4_alt_text}}">
            <figcaption>{{localizedMessages.workshops_fig4_caption}}</figcaption>
        </figure>
    </section>
</div>
