<div class="sjrk-st-context-link-container">
    <a href="{{dynamicValues.browseLinkUrl}}" class="sjrk-st-context-link">{{localizedMessages.message_browseLink}}</a>
</div>
<div>
    <h2 class="sjrk-st-intro-heading-1">{{localizedMessages.message_intro_heading_text1}}</h2>
    <h2 class="sjrk-st-intro-heading-2">{{localizedMessages.message_intro_heading_text2}}</h2>
    <div>{{{md localizedMessages.message_intro_markup}}}</div>
</div>
