<div class="sjrk-st-page-header">
    <a href="/" class="sjrk-st-page-header-main-title">{{{localizedMessages.mastheadTitle}}}</a>
</div>
<div class="sjrk-st-top-menu">
    <nav>
        <ul>
            <li><a href="workshops.html">{{localizedMessages.link_workshops_text}}</a></li>
            <li><a href="resources.html">{{localizedMessages.link_resources_text}}</a></li>
            <li><a href="storyBrowse.html">{{localizedMessages.link_browse_text}}</a></li>
        </ul>
    </nav>
    <a class="sjrk-st-edit-link" href="{{localizedMessages.staging_editor_url}}">{{localizedMessages.link_edit_text}}</a>
</div>
