<div class="sjrk-st-intro-body">
    <section>
        <div>
            <h2>{{localizedMessages.intro_heading1}}</h2>
            <h2>{{localizedMessages.intro_heading2}}</h2>
            {{!-- <img class="sjrk-st-intro-caret" src="src/img/icons/Caret.svg" alt=""> --}}
            {{{md localizedMessages.intro_p1_text}}}
        </div>
        <div>
            {{!-- this is set aside for the story thumbnails once that's ready --}}
        </div>
    </section>
    <hr>
    <section>
        <div>
            <h3>{{localizedMessages.intro_p2_heading}}</h3>
            {{{md localizedMessages.intro_p2_text}}}
            <div class="sjrk-st-intro-links">
                <a href="workshops.html">{{localizedMessages.intro_link_workshops_text}}</a>
                <br>
                <a href="resources.html">{{localizedMessages.intro_link_resources_text}}</a>
            </div>
        </div>
        <figure>
            <img src="" alt="{{localizedMessages.intro_fig2_alt_text}}">
            <figcaption>{{localizedMessages.intro_fig2_caption}}</figcaption>
        </figure>
    </section>
    <hr>
    <section>
        <div>
            <h3>{{localizedMessages.intro_p3_heading}}</h3>
            {{{md localizedMessages.intro_p3_text}}}
            <div class="sjrk-st-intro-links">
                <a href="">{{localizedMessages.intro_link_about_text}}</a>
                <br>
                <a href="storyEdit.html">{{localizedMessages.intro_link_edit_text}}</a>
            </div>
        </div>
        <figure>
            <img src="" alt="{{localizedMessages.intro_fig3_image1_alt_text}}">
            <img src="" alt="{{localizedMessages.intro_fig3_image2_alt_text}}">
            <figcaption>{{localizedMessages.intro_fig3_caption}}</figcaption>
        </figure>
    </section>
    <hr>
    <h3>{{localizedMessages.intro_p4_heading}}</h3>
    {{{md localizedMessages.intro_p4_text}}}
</div>
