<div class="sjrk-st-page-body">
    <section class="sjrk-st-lr-knockout">
        <h2>{{localizedMessages.resources_title}}</h2>
    </section>
    <section class="sjrk-st-lr-2column sjrk-st-lr-serif">
        {{{md localizedMessages.resources_p1_text}}}
        <img src="src/learningReflections/img/storytelling_workshop_9.png" alt="{{localizedMessages.resources_fig1_alt_text}}">
    </section>
    <section>
        <h3>{{localizedMessages.resources_s2_title}}</h3>
        <div class="sjrk-st-lr-serif">
            <h4>{{localizedMessages.resources_p2_heading}}</h4>
            {{{md localizedMessages.resources_p2_text}}}
        </div>
    </section>
    <section>
        <div class="sjrk-st-lr-serif">
            <h4>{{localizedMessages.resources_p3_heading}}</h4>
            {{{md localizedMessages.resources_p3_text}}}
        </div>
    </section>
    <section>
        <div class="sjrk-st-lr-serif">
            <h4>{{localizedMessages.resources_p4_heading}}</h4>
            {{{md localizedMessages.resources_p4_text}}}
        </div>
    </section>
    <section>
        <div class="sjrk-st-lr-serif">
            <h4>{{localizedMessages.resources_p5_heading}}</h4>
            {{{md localizedMessages.resources_p5_text}}}
        </div>
    </section>
    <section>
        <div class="sjrk-st-lr-serif">
            {{{md localizedMessages.resources_p6_text}}}
        </div>
    </section>
</div>
