<form lang="{{localizedMessages.language}}" class="sjrkc-st-login-form sjrk-st-login-form">
    {{#getIds "email"}}
        <div class="sjrk-st-label-container">
            <label for="$id">{{../localizedMessages.message_login_email_label}}</label>
        </div>
        <div>
            <input id="$id" class="sjrk-st-login-email-input sjrkc-st-login-email-input" />
        </div>
    {{/getIds}}
    {{#getIds "password"}}
        <div class="sjrk-st-label-container">
            <label for="$id">{{../localizedMessages.message_login_password_label}}</label>
        </div>
        <div>
            <input id="$id" type="password" class="sjrk-st-login-password-input sjrkc-st-login-password-input" />
        </div>
    {{/getIds}}
    <button class="sjrk-st-login-button sjrkc-st-login-button" type="button">{{localizedMessages.message_login_button}}</button>
    {{!--
        TODO:
        progress indicator
        error text area
    --}}
    <div class="sjrk-st-login-signup-text">{{localizedMessages.message_sign_up_text}} <a href="signup.html">{{localizedMessages.message_sign_up_link}}</a></div>
</form>
