<div class="sjrk-st-reorderer-buttons">
    <div class="sjrkc-st-reorderer-grab-handle sjrk-st-reorderer-grab-handle" aria-label="{{localizedMessages.message_reorderMoveHandle}}"></div>
    <div class="sjrk-st-reorderer-move-buttons">
        <button disabled type="button" class="sjrkc-st-reorderer-move-up sjrk-st-reorderer-move-up" aria-label="{{localizedMessages.message_reorderMoveUp}}"></button>{{!--
        --}}<button disabled type="button" class="sjrkc-st-reorderer-move-down sjrk-st-reorderer-move-down" aria-label="{{localizedMessages.message_reorderMoveDown}}"></button>
    </div>
</div>
<fieldset lang="{{localizedMessages.language}}" class="sjrk-st-block">
    <legend class="fl-hidden-accessible">{{localizedMessages.message_textBlock}}</legend>
    {{#getIds "storySelectionCheckbox"}}
        <div class="sjrk-st-label-container fl-hidden-accessible">
            <label for="$id">{{../localizedMessages.message_blockSelectionCheckboxLabelText}}</label>
        </div>
        <div class="sjrk-st-block-selection-checkbox-container">
            <input id="$id" class="sjrk-st-block-selection-checkbox sjrkc-st-block-selection-checkbox" type="checkbox">
        </div>
    {{/getIds}}

    {{#getIds "storyBlockHeading"}}
    <div class="sjrk-st-block-alternative-content sjrk-st-block-label">
        <input id="$id" class="sjrk-st-block-heading sjrkc-st-block-heading" placeholder="{{../localizedMessages.message_blockHeadingPlaceholder}}"></input>
        <label for="$id">{{../localizedMessages.message_blockHeadingLabel}}</label>
    </div>
    {{/getIds}}

    {{#getIds "storyBlockText"}}
        <div class="sjrk-st-block-label">
            <textarea id="$id" class="sjrk-st-block-text sjrkc-st-block-text" cols="30" rows="5" placeholder="{{../localizedMessages.message_textInputPlaceholder}}"></textarea>
            <label for="$id">{{../localizedMessages.message_textInputLabel}}</label>
        </div>
    {{/getIds}}

</fieldset>
