{{#with dynamicValues}}
    <div class="sjrk-st-block" lang="{{language}}">
        <h3 class="sjrk-st-block-heading-view">{{{md heading}}}</h3>
        <img class="sjrk-st-block-media-preview" src="{{imageUrl}}" alt="{{alternativeText}}"/>
        <p class="sjrk-st-block-text-view">{{{md description}}}</p>
    </div>
{{/with}}
