<div class="sjrk-st-reorderer-buttons">
    <button type="button" class="sjrkc-st-reorderer-grab-handle sjrk-st-reorderer-grab-handle"></button>
    <div class="sjrk-st-reorderer-move-buttons">
        <button type="button" class="sjrkc-st-reorderer-move-up sjrk-st-reorderer-move-up"></button>{{!--{{!--
        --}}<button type="button" class="sjrkc-st-reorderer-move-down sjrk-st-reorderer-move-down"></button>
    </div>
</div>
<fieldset lang="{{localizedMessages.language}}" class="sjrk-st-block">
    {{#equals dynamicValues.blockType "audio"}}
        <legend class="fl-hidden-accessible">{{localizedMessages.message_audioBlock}}</legend>
    {{/equals}}
    {{#equals dynamicValues.blockType "image"}}
        <legend class="fl-hidden-accessible">{{localizedMessages.message_imageBlock}}</legend>
    {{/equals}}
    {{#equals dynamicValues.blockType "video"}}
        <legend class="fl-hidden-accessible">{{localizedMessages.message_videoBlock}}</legend>
    {{/equals}}
    {{#getIds "storySelectionCheckbox"}}
        <div class="sjrk-st-label-container fl-hidden-accessible">
            {{#equals ../dynamicValues.blockType "audio"}}
                <label for="$id">{{../../localizedMessages.message_blockSelectionCheckboxLabelAudio}}</label>
            {{/equals}}
            {{#equals ../dynamicValues.blockType "image"}}
                <label for="$id">{{../../localizedMessages.message_blockSelectionCheckboxLabelImage}}</label>
            {{/equals}}
            {{#equals ../dynamicValues.blockType "video"}}
                <label for="$id">{{../../localizedMessages.message_blockSelectionCheckboxLabelVideo}}</label>
            {{/equals}}
        </div>
        <div class="sjrk-st-block-selection-checkbox-container">
            <input id="$id" class="sjrk-st-block-selection-checkbox sjrkc-st-block-selection-checkbox" type="checkbox">
        </div>
    {{/getIds}}

    {{#getIds "storyBlockHeading"}}
        <div class="sjrk-st-block-alternative-content sjrk-st-block-label">
            <input id="$id" class="sjrk-st-block-heading sjrkc-st-block-heading" placeholder="{{../localizedMessages.message_blockHeadingPlaceholder}}"></input>
            <label for="$id">{{../localizedMessages.message_blockHeadingLabel}}</label>
        </div>
    {{/getIds}}

    <div class="sjrk-st-block-media-preview-container">
        {{#equals dynamicValues.blockType "audio"}}
            <audio class="sjrkc-st-block-media-preview sjrk-st-block-media-preview"></audio>
            <div class="sjrk-st-block-audio-preview-placeholder"></div>
        {{/equals}}
        {{#equals dynamicValues.blockType "image"}}
            <img class="sjrkc-st-block-media-preview sjrk-st-block-media-preview" src="" alt="" />
        {{/equals}}
        {{#equals dynamicValues.blockType "video"}}
            <video class="sjrkc-st-block-media-preview sjrk-st-block-media-preview"></video>
        {{/equals}}
    </div>

    <div class="sjrk-st-block-media-buttons-container">
        {{#equals dynamicValues.blockType "audio"}}
            <button type="button" class="sjrkc-st-block-media-upload-button sjrk-st-block-media-upload-button">{{localizedMessages.message_uploadButtonAudio}}</button>
        {{/equals}}
        {{#equals dynamicValues.blockType "image"}}
            <button type="button" class="sjrkc-st-block-media-upload-button sjrk-st-block-media-upload-button">{{localizedMessages.message_uploadButtonImage}}</button>
        {{/equals}}
        {{#equals dynamicValues.blockType "video"}}
            <button type="button" class="sjrkc-st-block-media-upload-button sjrk-st-block-media-upload-button">{{localizedMessages.message_uploadButtonVideo}}</button>
        {{/equals}}
    </div>

    {{#getIds "storyBlockDescription"}}
        <div class="sjrk-st-block-media-description-container sjrk-st-block-label">
            <textarea id="$id" class="sjrkc-st-block-media-description sjrk-st-block-media-description" placeholder="{{../localizedMessages.message_descriptionInputPlaceholder}}"></textarea>
            <label for="$id">{{../localizedMessages.message_descriptionInputLabel}}</label>
        </div>
    {{/getIds}}
    {{#getIds "storyBlockAltText"}}
            {{#equals ../dynamicValues.blockType "audio"}}
                <textarea hidden id="$id" class="sjrkc-st-block-media-alt-text sjrk-st-block-media-alt-text" placeholder="{{../../localizedMessages.message_altTextInputPlaceholderAudio}}"></textarea>
            {{/equals}}
            {{#equals ../dynamicValues.blockType "image"}}
                <div class="sjrk-st-block-media-alt-text-container sjrk-st-block-label">
                    <textarea id="$id" class="sjrkc-st-block-media-alt-text sjrk-st-block-media-alt-text" placeholder="{{../../localizedMessages.message_altTextInputPlaceholderImage}}"></textarea>
                    <label for="$id">{{../../localizedMessages.message_altTextInputLabel}}</label>
                </div>
            {{/equals}}
            {{#equals ../dynamicValues.blockType "video"}}
                <textarea hidden id="$id" class="sjrkc-st-block-media-alt-text sjrk-st-block-media-alt-text" placeholder="{{../../localizedMessages.message_altTextInputPlaceholderAudio}}"></textarea>
            {{/equals}}
    {{/getIds}}

    <!-- Container for the uploader -->
    <div class="sjrkc-st-block-uploader-container sjrk-st-block-uploader-container">
        <input name="file" type="file" accept="{{dynamicValues.blockType}}/*" class="sjrkc-st-block-uploader-input sjrk-st-block-uploader-input" />
    </div>
</fieldset>
