<div class="sjrk-st-page-body">
    <section class="sjrk-st-lr-knockout">
        <h1>{{localizedMessages.message_login_title_text}}</h1>
    </section>
    <section class="sjrk-st-lr-padding">
        <form lang="{{localizedMessages.language}}" class="sjrkc-st-authentication-form sjrk-st-authentication-form" onSubmit="return false;">
            {{#getIds "email"}}
                <div class="sjrk-st-label-container">
                    <label for="$id">{{../localizedMessages.message_authentication_email_label}}</label>
                </div>
                <div>
                    <input id="$id" class="sjrk-st-authentication-email-input sjrkc-st-authentication-email-input" />
                </div>
                <div class="sjrkc-st-authentication-error-email sjrk-st-authentication-error-email"></div>
            {{/getIds}}
            {{#getIds "password"}}
                <div class="sjrk-st-label-container">
                    <label for="$id">{{../localizedMessages.message_authentication_password_label}}</label>
                </div>
                <div>
                    <input id="$id" type="password" class="sjrk-st-authentication-password-input sjrkc-st-authentication-password-input" />
                </div>
                <div class="sjrkc-st-authentication-error-password sjrk-st-authentication-error-password"></div>
            {{/getIds}}
            <button class="sjrk-st-authentication-button sjrkc-st-authentication-button" type="submit">{{localizedMessages.message_login_button}}</button>

            <div class="sjrkc-st-authentication-progress sjrk-st-authentication-progress" role="alert">
                <div class="sjrk-st-authentication-progress-indicator" aria-describedby="sjrkc-st-authentication-progress-text"></div>
                <span id="sjrkc-st-authentication-progress-text">{{localizedMessages.message_login_progress_text}}</span>
            </div>
            <div class="sjrkc-st-authentication-response sjrk-st-authentication-response" role="alert"></div>

            <div class="sjrk-st-authentication-signup-text">{{localizedMessages.message_login_sign_up_text}} <a href="signup.html">{{localizedMessages.message_login_sign_up_link}}</a></div>
        </form>
    </section>
</div>
